*{  color: white; padding: 0; margin: 0; }
body{
    margin: 0;
    padding: 0;
    background-color: black;
    height: 100%;
    display: grid;
    grid-template-columns: auto auto 200px;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: "header header header" "main main main" "footer footer footer";
}
div {box-sizing: border-box; padding: 10px;}
@font-face{font-family: Retron; src: url("../fonts/Retron2000.ttf");}
@font-face{font-family: Orbitron; src: url("../fonts/Orbitron-Regular.ttf");}
header{display: block;grid-area: header;}

#all-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    grid-area: main;
    padding: 20px;
    margin: 0 0 20px 0;
    border-radius: 5px 5px 25px 5px;
    position: relative;
}

#container {
    overflow: hidden;
    display: table;
    margin: 20%;
    width: 80%;
    min-height:100%;
    margin:0 auto;
}

#middle-content{
    display: table-cell;
    vertical-align: top;
    width: 80%;
    overflow: hidden !important;
    box-sizing: border-box;
    z-index: 10000;
}

#rightbar {
    display: table-cell;
    min-width: 20% !important;
    vertical-align: top;
    align-items: center;
    overflow: hidden;
}
h1{font-size: 25px;}


.evil-topbar{
    background: linear-gradient(-90deg, #43cea2, #185a9d) !important;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0.5rem 1rem;
}

.evil-title{
    color:inherit;
    text-decoration:none;
    font-size: auto;
    font-weight:500;
    font-size: 30px;
    font-family: Retron;
}

a, li { text-decoration: none; list-style: none; list-style-type: none;}

ol, ul, dl {
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
}

.evil-menu{
    color: #bbb !important;
    border-radius: 20px;
    font-size: 18px;
    font-family: "Orbitron", sans-serif;
    font-weight: 400;
    padding: 0 10px;
    line-height: 40px;
    display: block;
}

.field{font-family: Orbitron; height: 100; display: flex; } 
.field-input{height: 10px}
.field-label{margin: 0; color:white;
    transform: translateY(24px);transition: transform 0.3s, color 0.3s;
    transform-origin: 0 50%;
}
.field-input{color: black;}

button{
    background: none; border: none; display:block;width: 100%;height: 50px;
    color:#fff;cursor:pointer;font-size:16px;margin:5px 0;outline:none;
}
button:hover{height: 40px;background: rgba(0, 0, 0, 0.5);}
#home { border: 2px solid #97ade3;}
#warning{ width: 600px; font-family: "Retron"; }
#sponsor{ background: url('../image/choose_races.png'); 
		width: 100%; 
        width: 250px; height: 250px;
		border:2px solid #97ade3;
		}
        #sponsor img{
            width: 200px;
            height: 100%;
            opacity: 0.75;
		}
.copy-left { display: inline-block; text-align: right; margin: 0px; -moz-transform: scaleX(-1); 
	-o-transform: scaleX(-1); -webkit-transform: scaleX(-1); transform: scaleX(-1); filter: FlipH; -ms-filter: "FlipH"; }

.post__content{
	width: 75%;
	height: 25%
	text-align:center;
	border-radius: 2px;
	background: url('../image/choose_races.png');
	border: 2px solid #97adE3;
}
	#author-title{
		font-family: "Orbitron";
	}
