<main>
  <div id="right-content">
    <h1 class="header">Construction du site</h1>
    <p>Bon le site est en cours de développement le temps que je puisse terminer les abses de celui-ci</p>
  </div>
  <div id="left-content">
    <h1 class="header">Mes travaux...</h1>
    <h5 class="header">BilalIScarioth a publié "III République"</h5>
    <h5 class="header">BilalIScarioth a fait des modifications sur le github</h5>
    <h5 class="header">BilalIScarioth commit sut github</h5>
  </div>
</main>
