<main>
  <div class="search-engine">
    <input>  
    <div class="search-engine input">
      <input type="submit" class="button black" value="Rechercher">
      <input type="submit" class="button black" value="À propos de nous"> 
    </div>
  </div>
  <div id="grid">
    <div>
      <center><div id="losange"></div></center>
    </div>
    <div>
      <table>
        <thead>
          <h1 class="header">Nos services</h1>
        </thead>
        <tbody>
          <tr>Bibliothèques
            <td> <a href="">Rejoins </a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</main>
