<main>
    <div>
      <input>
      <div>
        <button type="submit"> Rechercher </button>
        <button type="submit"> À propos de nous </button>
      </div>
    </div>

    <div id="grid">
      <div>
        <center><div id="losange"></div></center>
      </div>
      <div>
        <table>
          <thead>
           <h1 class="header">Nos services</h1>
        </thead>
        <tbody>
          <tr>Bibliothèques
            <td></td>
          </tr>
        </tbody>
        </table>
      </div>
    </div>

</main>
