*{  color: white; padding: 0; margin: 0; font-family: 'Noto Sans KR', sans-serif;}
a,p,h1,h2,h3,h4,h5,h6,b,u{color:inherit;}
a, li { text-decoration: none; list-style: none; list-style-type: none;}
html {height: 100%;  background: radial-gradient(circle at bottom, navy 0, black 100%); overflow: hidden;} 
div{
	box-sizing: border-box;
}
body{
  background: rgba(128, 0, 128, 0.1) center / 200px 200px round;	
	display: grid;
	height: 100%;
	grid-template-columns: auto auto 200px;
	grid-template-rows: auto 1fr auto;
	grid-template-areas: "header header header" "main main main" "footer footer footer";
}
header{display: block;grid-area: header; text-align: center;}
main{
		align-items: center;
		display: flex;
		flex-direction: column;
		width: 100%;
		grid-area: main;
}
.header{
    display: block;
    border-bottom: 2px solid #ccc;
}
ol, ul, dl {
	display: -ms-flexbox !important;
	display: flex !important;
	-ms-flex-preferred-size: auto;
	flex-basis: auto;
}
footer {
		grid-area: footer;
		display: flex;
		flex-direction: column;
		font-family: 'Commissioner', cursive;
		padding: 10px;
		align-items: center;
}footer a{
	padding: 5px;
	background-color: #550012;
}

/*
 * Pop-up du menu 
 */

#popup{
	display: none;
	margin: 10px;
	width : 300px;
	height: 300px;
	position: fixed;
	background-color: #222222;
	box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
	border-radius: 4px;
}
	#popup td {display: block;padding: 0px 60px 30px 0px;}
	#popup td span i{font-size: 40px;}
	#popup tr{
		display: grid;
		grid-template-columns: repeat(3, 1fr);
	}
a #close-popup{ border-radius: 50%; background-colord: grey; padding: 10px;}

#Form{
	bottom: 0;
	margin: 0;
	display: block;
	width: 600px;
	height: 600px;
	position: fixed;
}

/*
 *	Grid de l'accueil
 */

.button.blue {
	background-color: #058;
	height: 35px;
}

.button.black {
	background-color: #111;
	height: 35px;
}

.button {
	color: #FFFFFF;
	box-shadow: 0px 20px 20px 0px rgba(255, 255, 255, 0.1) inset, 0px 2px 3px 1px rgba(0,0,0,0.3);	
	box-shadow: 0 0px 0 1px rgba(255,255,255,0.2), 0 3px 12px 1px rgba(0,0,0,0.85);
	border: none;
}

#form_user {
	display: block;
	font-size: 16px;
	width: 230px;
}


#form_user div {
	position: relative;
	margin: 15px 0 0 0;
}

#form_user .button {
	font-size: 15px;
	text-transform: uppercase;
	width: 100%;
}

#form_user input {
	font-size: 15px;
	padding: 0px 7px 0px 30px;
	width: 100%;
	box-sizing: border-box;
	line-height: 35px;
	height: 35px;
	color: black;
}

.alert {
  padding: 20px;
  background-color: #f44336; /* Red */
  color: white;
  margin-bottom: 15px;
}

.search-engine{
	width: 700px;
}	
	.search-engine input{
		font-size: 15px;
		padding: 0px 7px 0px 30px;
		width: 100%;
		box-sizing: border-box;
		line-height: 35px;
		height: 35px;
		color: black;
		margin-bottom: 10px;
	}
	.search-engine.input input{
		color: white;
		padding: 0px;
		width: 347px;
	}

#grid {
	background-color: #111;
	width: 700px;
	height: 500px;
	border-radius: 30% 0 30% 0;
	align-items: center;
}
	#grid .header, #grid table{
		position: relative;
	}
	#grid #losange{
		margin: 20px;
		padding: 0;
		width: 0;
		border-left: 50px solid transparent;
		border-right: 50px solid transparent;
		border-bottom: 100px solid #fff;
		position: relative;
	}
	#grid .header{
		margin: 0 10px 0 10px;
	}
	#grid #losange:before{
		content:'';
		border-left: 50px solid transparent;
		border-right: 50px solid transparent;
		border-top: 45px solid #ccc;
		padding: 0;
		width: 0;
		position: absolute;
		top:100px;
		left:-50px;
	}


